@import url("../../css/variables.css");

.controlBox{
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    background-color: var(--dark-color-with-opacity);  
    backdrop-filter: var(--blur);
}