@import url("../../css/variables.css");

.controlBox{
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--dark-color-with-opacity);  
    backdrop-filter: var(--blur);
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none; 
}

.controlBox::-webkit-scrollbar{
    display: none;
}