:root {
    --white-color:#fff;
    --grey-color: #8b8a96;
    --grey-color-2: #8a8995;
    --grey-color-background: #f6f6f6;
    --dark-color: #101022;
    --dark-color-with-opacity: rgba(16, 16, 34, 0.9);
    --black-color: #080606;
    --font-roboto: Roboto;
    --blur: blur(5px); 
    --smaller-font-size: 12px;
    --standard-font-size: 14px;
    --bigger-font-size: 15px;
}