@import url("../../css/variables.css");

.controlButton{
    width: 100%;
    height: 50px;
    padding: 0px 15px;
    box-sizing: border-box;
    display: flex;
}

.controlButton__left{
    flex: 5 5 auto;
    display: flex;
    align-items: center;
    justify-items: flex-start;
    gap: 9px;
}

.controlButton__text{
    color: var(--white-color);
    font-size: var(--standard-font-size);
    font-family: var(--font-roboto);
}

.controlButton__img{
    width: 16px;
    height: 16px;
}

.controlButton__right{
    flex: 1 1 auto;
    align-items: center;
}

.controlButton__number{
    text-align: end;
    color: var(--grey-color);
    font-size: var(--standard-font-size);
    font-family: var(--font-roboto);
}